*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    font-size: 1rem;
}

html
{
    background-color: #242424;
}

body
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.input-container
{
    display: flex;
    justify-content: center;
}

.input-container 
input
{
    width: 100%;
    font-size: 1.1rem;
    color: #BBB;
    padding: 2px 6px;
    background-color: rgba(255, 255, 255, .3);
}

.input-container
input::first-letter
{
    text-transform: uppercase;
}

.notes-container
{
    width: 100%;
    border-top: 1px solid #444444;
    margin-top: 10px;
}

.item
{
    color: #BBB;
    padding: 1px;
    font-family: consolas;
    font-style: italic;
}